Flask==1.1.1
tensorflow==1.14.0
numpy==1.16.4
opencv_python==4.2.0.34
Keras==2.3.1
brotli==1.0.7
cryptography==2.9.2
Cython==0.29.20
importlib_metadata==1.7.0
ipaddr==2.2.0
keyring==21.2.1
lockfile==0.12.2
lxml==4.5.1
mypy_extensions==0.4.3
ordereddict==1.1
Pillow==7.1.2
protobuf==3.12.2
pyOpenSSL==19.1.0
scikit_learn==0.23.1
usercustomize==1.0.0
wincertstore==0.2
zipp==3.1.0
